*
{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.nav-div
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


li{
    list-style: none;
    display: inline-block;
    margin: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    color: rgb(60, 46, 46);
}

.nav-logo
{
    margin-left: 20px;
    cursor: pointer;
}

.book-table
{
    border: 0.2 solid ;
    height: 6vh;
    width: 8vw;
    margin-top: 3px;
    font-size:small;
    background-color: rgb(2, 88, 2);
    border-radius: 12px;
   display: flex;
   align-items: center;
   justify-content: center;
    color: white;
    font-weight: 700;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 420px;
    margin-top: -50px;   
    cursor: pointer;
}

.heroImg 
{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
    cursor:pointer;
   
}

.hero-img-heading
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor:pointer;
    color: rgb(60, 46, 46);
}  



.hero-img-description
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    cursor:pointer;
}

.exploremenu-booktable
{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 30px;
   text-indent: 4em;
   text-align: center;
   margin-left:-60px;
   cursor:pointer;
}

.exploremenu-booktable :nth-child(1)
{
    color: gray;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor:pointer;
}

.exploremenu-booktable :nth-child(2)
{
    color: green;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor:pointer;
}

.icon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
.iconpara1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor:pointer;
    font-weight: 700;
    color: rgb(60, 46, 46);
   
}

.iconpara2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -15px;
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor:pointer;
    color: gray;
}

/* our specials */

.ourspecial-heading
{
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    cursor:pointer;
    margin-left: 80px;
    color: rgb(60, 46, 46);
}

.ourspecial-para
{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 30px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    cursor:pointer;
    margin-left: 80px;
}

.ourspecial
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.sweetpotatofriesbowl
{
    margin-left: 85px;
    margin-top: 90px;
   
    border-radius: 20px;
}

.sweetpotatofriesbowl :nth-child(1)
{
   
    height: 60vh;
    width: 30vw;
    border-radius: 20px;
}

.sweetpotato :nth-child(2)
{
   margin-left: 85px;
   margin-top: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   cursor:pointer;
   font-weight: 700;
   color: rgb(60, 46, 46);
}

.sweetpotato :nth-child(3)
{
   margin-left: 85px;
   margin-top: 10px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   cursor:pointer;
   font-weight: 500;
}

.sweetpotato :nth-child(4)
{
   margin-left: 85px;
   margin-top: 10px;
}

.sweetpotato :nth-child(5)
{
   margin-left: 85px;
   margin-top: 10px;
   text-align: left;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   cursor:pointer;
}




.vegansalad
{
    margin-left: 185px;
    margin-top: 90px;
   
    border-radius: 20px;
}

.vegansalad :nth-child(1)
{
   
    height: 60vh;
    width: 30vw;
    border-radius: 20px;
}

.vegansalad :nth-child(2)
{
   margin-left: 5px;
   margin-top: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   cursor:pointer;
   font-weight: 700;
   color: rgb(60, 46, 46);
}

.vegansalad :nth-child(3)
{
   margin-left: 5px;
   margin-top: 10px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   cursor:pointer;
   font-weight: 500;
}

.vegansalad :nth-child(4)
{
   margin-left: 5px;
   margin-top: 10px;
}

.vegansalad :nth-child(5)
{
   margin-left: 5px;
   margin-top: 10px;
   text-align: left;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   cursor:pointer;
}

/* top dishes  */

.topdishes-heading
{
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    cursor:pointer;
    margin-left: 80px;
    color: rgb(60, 46, 46); 
}

.topdishes-img
{
  display: flex;
  margin-top: 30px;
  margin-left: 80px;
  justify-content: space-evenly;
  align-items: center;
}

.topdishes-food1
{
    border: 2px solid white;
    height: auto;
    max-width: 100%;
    border-radius: 20px;
    
}
.topdishes-food1 > img
{
   
    height: auto;
    max-width: 100%;
    border-radius: 20px;
    border: 2px solid rgb(63, 239, 24);
    
}

.topdishes-food2
{
    height: auto;
    max-width: 100%;
    border-radius: 20px;
    border: 2px solid white;
    
}
.topdishes-food2 > img
{
    height: auto;
    max-width: 100%;
    border-radius: 20px;
    border: 2px solid rgb(63, 239, 24);
    
}

.topdishes-food3
{
    height: auto;
    max-width: 100%;
    border-radius: 20px;
    border: 2px solid white;
    
}
.topdishes-food3 > img
{
    height: auto;
    max-width: 100%;
    border-radius: 20px;
    border: 2px solid rgb(63, 239, 24);   
}






