*
{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.nav-div
{
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


li{
    list-style: none;
    display: inline-block;
    margin: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    color: rgb(60, 46, 46);
}

.nav-logo > img
{
   margin-top: 30px;
    cursor: pointer;
    height: 40vh;
    width: 25vw;
    
}

.book-table
{
    border: 0.2 solid ;
    height: 6vh;
    width: 8vw;
    margin-top: 3px;
    font-size:small;
    background-color: rgb(2, 88, 2);
    border-radius: 12px;
   display: flex;
   align-items: center;
   justify-content: center;
    color: white;
    font-weight: 700;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 420px;
    margin-top: -50px;   
    cursor: pointer;
}

.heroImg 
{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
    cursor:pointer;
   
}

.hero-img-heading
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor:pointer;
    color: rgb(60, 46, 46);
}  



.hero-img-description
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    cursor:pointer;
}

.exploremenu-booktable
{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 30px;
   text-indent: 4em;
   text-align: center;
   margin-left:-60px;
   cursor:pointer;
}

.exploremenu-booktable :nth-child(1)
{
    color: gray;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor:pointer;
}

.exploremenu-booktable :nth-child(2)
{
    color: green;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor:pointer;
}

.icon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
.iconpara1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor:pointer;
    font-weight: 700;
    color: rgb(60, 46, 46);
   
}

.iconpara2 {
    display: flex;
    
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor:pointer;
    color: gray;
}

.iconpara2 :nth-child(1)
{
    margin-left: 270px;
}

.iconpara2 :nth-child(2)
{
    margin-left:340px;
}

.iconpara2 :nth-child(3)
{
    margin-left: 380px;
}
/* our specials */

.ourspecial-heading
{
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    cursor:pointer;
    margin-left: 80px;
    color: rgb(60, 46, 46);
}

.ourspecial-para
{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 30px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    cursor:pointer;
    margin-left: 80px;
}

.ourspecial
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.sweetpotatofriesbowl
{
    margin-left: 85px;
    margin-top: 90px;
   
    border-radius: 20px;
}

.sweetpotatofriesbowl :nth-child(1)
{
   
    height: 60vh;
    width: 30vw;
    border-radius: 20px;
    border: 2px solid rgb(63, 239, 24);
    box-shadow: 2px 3px 5px;
}

.sweetpotato :nth-child(2)
{
   margin-left: 85px;
   margin-top: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   cursor:pointer;
   font-weight: 700;
   color: rgb(60, 46, 46);
}

.sweetpotato :nth-child(3)
{
   margin-left: 85px;
   margin-top: 10px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   cursor:pointer;
   font-weight: 500;
}

.sweetpotato :nth-child(4)
{
   margin-left: 85px;
   margin-top: 10px;
}

.sweetpotato :nth-child(5)
{
   margin-left: 85px;
   margin-top: 10px;
   text-align: left;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   cursor:pointer;
}




.vegansalad
{
    margin-left: 185px;
    margin-top: 90px;
   
    border-radius: 20px;
}

.vegansalad :nth-child(1)
{
   
    height: 60vh;
    width: 30vw;
    border-radius: 20px;
    border: 2px solid rgb(63, 239, 24);
    box-shadow: 2px 3px 5px;
}

.vegansalad :nth-child(2)
{
   margin-left: 5px;
   margin-top: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   cursor:pointer;
   font-weight: 700;
   color: rgb(60, 46, 46);
}

.vegansalad :nth-child(3)
{
   margin-left: 5px;
   margin-top: 10px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   cursor:pointer;
   font-weight: 500;
}

.vegansalad :nth-child(4)
{
   margin-left: 5px;
   margin-top: 10px;
}

.vegansalad :nth-child(5)
{
   margin-left: 5px;
   margin-top: 10px;
   text-align: left;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   cursor:pointer;
}

/* top dishes  */

.topdishes-heading
{
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    cursor:pointer;
    margin-left: 80px;
    color: rgb(60, 46, 46); 
}

.topdishes-img
{
  display: flex;
  margin-top: 30px;
  margin-left: 80px;
  justify-content: space-evenly;
  align-items: center;
}

.topdishes-food1
{
    border: 2px solid white;
    height: auto;
    max-width: 100%;
    border-radius: 20px;
    
}
.topdishes-food1 > img
{
   
    height: auto;
    max-width: 100%;
    border-radius: 20px;
    border: 2px solid rgb(63, 239, 24);
    box-shadow: 2px 3px 5px;
    
}

.topdishes-food1 :nth-child(2)
{
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.topdishes-food1 :nth-child(3)
{
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.topdishes-food1 :nth-child(4)
{
    margin-top: 10px;
    border: none;
    box-shadow: none;
}


.topdishes-food2
{
    height: auto;
    max-width: 100%;
    border-radius: 20px;
    border: 2px solid white;
    
}
.topdishes-food2 > img
{
    height: auto;
    max-width: 100%;
    border-radius: 20px;
    border: 2px solid rgb(63, 239, 24);
    box-shadow: 2px 3px 5px;
    
}

.topdishes-food2 :nth-child(2)
{
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.topdishes-food2 :nth-child(3)
{
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.topdishes-food2 :nth-child(4)
{
    margin-top: 10px;
    border: none;
    box-shadow: none;
}


.topdishes-foode3
{
height: auto;
max-width: 100%;
border: 2px solid white;
border-radius: 20px;
}

.topdishes-foode3 > img
{
    height: auto;
    max-width: 100%;
    border-radius: 20px;
    border: 2px solid rgb(63, 239, 24);
    box-shadow: 2px 3px 5px;

}

.topdishes-foode3 :nth-child(2)
{
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.topdishes-foode3 :nth-child(3)
{
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.topdishes-foode3 :nth-child(4)
{
    margin-top: 10px;
    border: none;
    box-shadow: none;
}

/* demo dish  */

.demo-dish-imgage
{
    
    border-radius: 20px;
    height: 100vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 190px;
    margin-left: 180px;
    border: 2px solid rgb(63, 239, 24);
    box-shadow: 2px 3px 5px;
}

.demo-dish-imgage > img
{
    height: 100vh;
    width: 80vw; 
    border-radius: 20px;
    border: 2px solid rgb(63, 239, 24);
    box-shadow: 2px 3px 5px;
}

.demo-dish-para1
{
    margin-top: 40px;
    font-weight: 700;
    color: green;
    margin-left: 180px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.demo-dish-para2
{
    margin-top: 5px;
    font-weight: 700;
    margin-left: 180px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(60, 46, 46); 
}

.demo-dish-para3
{
    display: flex;
    margin-top: 5px;
    font-weight: 600;
    margin-left: 180px;
} 

.demo-dish-para3 :nth-child(1)
{
    text-decoration: line-through;
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.demo-dish-para3 :nth-child(2)
{
    margin-left: 20px;
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.demo-dish :nth-child(5)
{
    margin-left: 180px;
    margin-top: 10px;
}

/* food-video / events mediia*/

   .food-video
   {
    margin-left: 180px;
    margin-top: 200px;
   }

   .food-video :nth-child(1)
   {
       margin-bottom: 15px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       color: rgb(60, 46, 46);
   }

   /* corporate-events */

   .corporate-events
   {
    margin-left: 180px;
    display: flex;
    margin-top: 100px;
    justify-content: space-evenly;
    
   }

 

   .corporate-events-img > img
   {
    border: 1px solid rgb(63, 239, 24);
    box-shadow: 2px 3px 5px;
    border-radius: 20px;
    height: 60vh;
    width: 30vw;

   }

   .corporate-events-para
   {
    margin-left: 20px;
   }


    .corporate-events-para :nth-child(1)
   {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: rgb(60, 46, 46);
   }

   .corporate-events-para :nth-child(2)
   {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: rgb(60, 46, 46);
      margin-top: 5px;
   }





/* weddings */


.weddings
{
 margin-left: 180px;
 display: flex;
 margin-top: 100px;
 justify-content: space-evenly;
 
}



.weddings-img > img
{
 border: 1px solid rgb(63, 239, 24);
 box-shadow: 2px 3px 5px;
 border-radius: 20px;
 height: 60vh;
 width: 30vw;

}

.weddings-para
{
 margin-left: 20px;
}


 .weddings-para :nth-child(1)
{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(60, 46, 46);
}

.weddings-para :nth-child(2)
{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(60, 46, 46);
   margin-top: 5px;
}

/* bookforevents */

.bookforevents :nth-child(1)
{
   margin-top: 100px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(60, 46, 46);
   margin-left: 180px; 
}

.bookforevents :nth-child(2)
{
   margin-top: 10px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(60, 46, 46);
   margin-left: 180px; 
}

/* whychooseourfood  */

.whychooseourfood :nth-child(1)
{
   margin-top: 100px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(60, 46, 46);
   margin-left: 180px; 
}

.whychooseourfood :nth-child(2)
{
   margin-top: 10px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(60, 46, 46);
   margin-left: 180px; 
   
}

/* Why us icons */

.whyus-icons
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 100px;
    
}

.qualityfood
{
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(60, 46, 46);
    font-weight: 500;   
}

.ClassicalTaste
{
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(60, 46, 46); 
    font-weight: 500; 
}

.SkilledChef
{
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(60, 46, 46);
    font-weight: 500;  
}

.BestServices
{
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(60, 46, 46);
    font-weight: 500;  
}

/* customer review heading*/


.customerreview-heading
{
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(60, 46, 46);
    margin-left: 180px; 
}

/* customer review */


.review1
{
 margin-left: 180px;
 display: flex;
 margin-top: 100px;
 justify-content: space-evenly;
 
}



.review1-img > img
{
 border: 1px solid rgb(63, 239, 24);
 box-shadow: 2px 3px 5px;
 border-radius: 20px;
 height: 60vh;
 width: 30vw;

}

.review1-para > p
{
 margin-left: 20px;
}


 .review1-para :nth-child(1)
{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(60, 46, 46);
}

.review1-para :nth-child(2)
{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(60, 46, 46);
   margin-top: 5px;
}



.review1-para :nth-child(3)
{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(60, 46, 46);
   margin-top: 5px;
   font-weight: 600;
}

/* footer-logo */

.footer-logo
{
   
    margin-left: 100px;
}

.footer-logo :nth-child(2)
{
    margin-top: -150px;
    margin-left: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(60, 46, 46);
   font-weight: 700;
   text-decoration:wavy;

}


/* footer-logo-description */

.follow-us
{
    margin-top: 50px;
    margin-left: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(60, 46, 46);
    font-weight: 700;
}


/* followus - icons  */

.followus-icon
{
    display: flex;
    
   
}

.followus-icon1
{
    border: 3px solid rgb(4, 248, 36);
    margin-left: 100px;
    margin-top: 10px;
    height:8vh;
    width: 4vw;
    border-radius: 5px;

}

.followus-icon1 > img
{
    height: 7vh;
    max-width: 100%;
    margin-left: 4px;
}



.followus-icon2
{
    border: 3px solid rgb(4, 248, 36);
    margin-left: 10px;
    margin-top: 10px;
    height:8vh;
    width: 4vw;
    border-radius: 5px;

}
.followus-icon2 > img
{
    height: 8vh;
    max-width: 100%;
    margin-left: 4px;
}


.followus-icon3
{
    border: 3px solid rgb(4, 248, 36);
    margin-left: 10px;
    margin-top: 10px;
    height:8vh;
    width: 4vw;
    border-radius: 5px;

}

.followus-icon3 > img
{
    height: auto;
    max-width: 100%;
}


/* links */

.flex-footer
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}







.footer-link :nth-child(1)
{
   margin-top: 50px;
   margin-left: 100px;
   color: rgb(60, 46, 46);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-link :nth-child(2)
{
   margin-top: 10px;
   margin-left: 100px;
   color: rgb(60, 46, 46);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-link :nth-child(3)
{
   margin-top: 10px;
   margin-left: 100px;
   color: rgb(60, 46, 46);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-link :nth-child(4)
{
   margin-top: 10px;
   margin-left: 100px;
   color: rgb(60, 46, 46);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-link :nth-child(5)
{
   margin-top: 10px;
   margin-left: 100px;
   color: rgb(60, 46, 46);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-link :nth-child(6)
{
   margin-top: 10px;
   margin-left: 100px;
   color: rgb(60, 46, 46);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-link :nth-child(7)
{
   margin-top: 10px;
   margin-left: 100px;
   color: rgb(60, 46, 46);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* copyrights */

.copyright
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(60, 46, 46);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lowest-footer
{
height: 10px;
width: 100%;
}